**/target/
/mongo-data/
/mysql_keycloak_data/
/postgres-inventory/
/postgres-order/
/grafana/
/prometheus/
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
*.log
logs/
.DS_Store
Thumbs.db
HELP.md
