# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# ===============================================
# Maven Build Qovluqları (ƏN VACİB)
# 'mvn package' əmri hər bir servisdə 'target' qovluğu yaradır.
# Bu qovluqlar GitHub-a heç vaxt yüklənməməlidir.
**/target/

/mongo-data/
/mysql_keycloak_data/
/postgres-inventory/
/postgres-order/
/grafana/

/prometheus/


.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project

*.log
logs/

.DS_Store
Thumbs.db


HELP.md
